@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

h1.big-title {
  font-size: 48px;
  color: #F9FAF8;
  margin: 0;
}

button {
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px 32px;
  color: white;
  background-color: #3882F6;
}

p.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  
}

.header {
  display: flex;
  flex-direction: column;
  padding: 16px 200px  100px 200px ;
  gap: 100px;
  background-color: #1F2937;
}

.header-navbar {
  display: flex;
  align-items: center;
}

.header-body {
  display: flex;
  gap: 28px;
}

.left-content, .right-content {
  flex: 1;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 52px;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  padding: 72px 200px;
  background-color: #E5E7EB;
  text-align: center;
}

.quote-text {
  color: #1F2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.quote-author {
  font-size: 20px;
  font-weight: bold;
  align-self: flex-end;
}

.header-links {
  display: flex;
  margin-left: auto;
  gap: 24px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

* {
  font-family: Roboto, sans-serif;
}